<!-- Navigation Bar-->
<%- include ('partials/_navbar.ejs') %>  

  <!-- Page Header -->
  <%- include ('partials/_header.ejs') %>  

  <style>
    .center {
      text-align: center;
    }
    
    .pagination {
      display: inline-block;
    }
    
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 0 4px;
    }
    
    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

            <% posts.forEach(element => { %>

              <div class="post-preview">
                <a href="post/<%= element._id %> ">
                  <h2 class="post-title">
                    <%= element.title %> 
                  </h2>
                </a>
                <label for=""> <%= element.detail %></label>
                <p class="post-meta">Writed by
                  <a href="#">Nuhgnc</a>
                  on <%= element.dateCreated %> </p>
              </div>
              <hr>

            <% }) %>
           
            
        <br>
        
        <!-- Pager -->
        <div class="center">
          <div class="pagination">

            <% if (currentPage > 1) { %>
              <a  href="?page=1">&laquo;</a>
            <% } %> 

          <!--Page Numbers-->    
          <% for( let i = 1; i <= pageNumber; i++ ) { %>
            <% if (currentPage == i) { %>
              <a class="active" href="?page=<%= i %> "><%= i %> </a>
            <% } else { %>
              <a href="?page=<%= i %> "><%= i %> </a>
            <% } %> 
          <% } %>
          <!-- go last page-->
          <% if (currentPage < pageNumber) { %>
            <a  href="?page=<%= pageNumber %>">&raquo;</a>
          <% } %> 

          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include ('partials/_footer.ejs') %>  

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
